{% extends "page.html" %}
{% block body %}
<p>We respect the intellectual property rights of others. You may not infringe the copyright, trademark or other proprietary informational rights of any party. We may in our sole discretion remove any Content we have reason to believe violates any of the intellectual property rights of others and may terminate your use of the Website if you submit any such Content.</p>

<h2>Repeat Infringer Policy</h2>
<p><b>AS PART OF OUR REPEAT-INFRINGEMENT POLICY, ANY USER FOR WHOSE MATERIAL WE RECEIVE THREE GOOD-FAITH AND EFFECTIVE COMPLAINTS WITHIN ANY CONTIGUOUS SIX-MONTH PERIOD WILL HAVE HIS GRANT OF USE OF THE WEBSITE TERMINATED.</b></p>

<h2>DMCA (Voluntary Compliance)</h2>
<p>Although we are not subject to United States law, we voluntarily comply with the Digital Millennium Copyright Act. Pursuant to Title 17, Section 512(c)(2) of the United States Code, if you believe that any of your copyrighted material is being infringed on the Website, we have designated an agent to receive notifications of claimed copyright infringement.</p>

<h2>Notice Requirements</h2>
<p>An effective notification of claimed infringement must be a written communication to our agent that includes substantially the following:</p>
<ul>
  <li>Identification of the copyrighted work that is believed to be infringed.</li>
  <li>Identification of the material that is believed to be infringing and its location.</li>
  <li>Your contact information (address, telephone number, and email if available).</li>
  <li>A statement of good faith belief that the use is not authorized by the copyright owner, its agent, or the law.</li>
  <li>A statement that the information is accurate and under penalty of perjury.</li>
  <li>A physical or electronic signature.</li>
</ul>

<h2>Counter‑Notification</h2>
<p>If your submission is removed, you may provide a counter-notification that includes:</p>
<ul>
  <li>Your signature.</li>
  <li>Identification of the removed material and prior location.</li>
  <li>Statement under penalty of perjury that the material was removed by mistake or misidentification.</li>
  <li>Your name/contact info and consent to jurisdiction (if applicable).</li>
  <li>Statement accepting service of process.</li>
</ul>

<p>DMCA agent contact (placeholder):</p>
<ul>
  <li><b>Email:</b> dmca@convertgod.example</li>
</ul>
{% endblock %}
