{% extends "page.html" %}
{% block body %}
<p>Pursuant to our Terms of Use, this document describes how we treat personal information related to your use of this website and the services offered on and through it (the “Service”), including information you provide when using it.</p>

<h2>Age Restriction</h2>
<p>We expressly and strictly limit use of the Service to adults over 18 years of age or the age of majority in the individual's jurisdiction, whichever is greater. Anyone under this age is strictly forbidden from using the Service. We do not knowingly seek or collect any personal information or data from persons who have not attained this age.</p>
{% endblock %}
